<h1>Autentica Token</h1>

<div class="container-fluid" *ngIf="isUserAuthenticated()">
  <h4>Bem vindo<br><br>Você está logado no sistema.</h4>
  <div class="container-fluid" style="margin-top: 10%;">
    <a href="customers" class="btn btn-outline-info"> Clientes </a><br><br>
    <a href="#" (click)="logout()" class="btn btn-outline-info"> Sair </a>
  </div>
</div>

<div class="container-fluid" *ngIf="!isUserAuthenticated()">
  <a href="customers" class="btn btn-outline-info"> Clientes </a><br><br>
  <a href="login" class="btn btn-outline-info"> Entrar </a>
</div>
